<H1>Calculate Solar Panels!</H1>
<div class="instructionText">
  <p>Enter which panels and accumulators you want to use and how much power you need.
    The calculator then tells you how many panels and accumulators you need for a near perfect ratio.</p>
</div>
<div class="solarPanelChooser">
  <label for="solarChoose">Pick your solar panels: </label>
  <select id="solarChoose" #solarChoice>
    <option *ngFor="let panel of panels">{{panel.name}}</option>
  </select>
</div>

<div class="accumulatorChooser">
  <label for="accumulatorChoose">Pick your accumulator type: </label>
  <select id="accumulatorChoose" #accumulatorChoice>
    <option *ngFor="let accumulator of accumulators">{{accumulator.name}}</option>
  </select>
</div>

<div class="powerInput">
  <label for="MWInput">How much power do you need (in MW)? </label>
  <input type="number" id="MWInput" #MWChoice>
</div>

<div class="calcButton">
  <button type="button" (click)="calculate(solarChoice.value, accumulatorChoice.value, MWChoice.valueAsNumber)">Calculate!</button>
</div>

<div class="result">

</div>
