<H1>Calculate Solar Panels!</H1>
<div class="instructionText">
  <p>Enter which panels and accumulators you want to use and how much power you need.
    The calculator then tells you how many panels and accumulators you need for a near perfect ratio.</p>
</div>
<div class="solarPanelChooser">
  <label for="solarChoose">Pick your solar panels: </label>
  <select id="solarChoose" [(ngModel)]="selectedPanel" (change)="calculate()">
    <optgroup label="Vanilla">
      <option *ngFor="let panel of panelsVanilla;" [ngValue]="panel" selected=>{{panel.name}}</option>
    </optgroup>
    <optgroup label="Bobs Panels">
      <option *ngFor="let panel of panelsBobs" [ngValue]="panel">{{panel.name}}</option>
    </optgroup>
  </select>
</div>

<div class="accumulatorChooser">
  <label for="accumulatorChoose">Pick your accumulator type: </label>
  <select id="accumulatorChoose" [(ngModel)]="selectedAccumulator" (change)="calculate()">
    <optgroup label="Vanilla">
      <option *ngFor="let accumulator of accumulatorsVanilla" [ngValue]="accumulator">{{accumulator.name}}</option>
    </optgroup>
    <optgroup label="Bobs">
      <option *ngFor="let accumulator of accumulatorsBobs" [ngValue]="accumulator">{{accumulator.name}}</option>
    </optgroup>
  </select>
</div>

<div class="powerInput">
  <label for="MWInput">How much power do you need (in MW)? </label>
  <input type="number" id="MWInput" required [(ngModel)]="powerNeeded" (input)="calculate()">
  <span class="validity"></span>
</div>

<div class="result" *ngIf="neededSolarPanels">
  <p>In order to get <span class="res_pwrNeeded">{{powerNeeded}}</span>MW of power with <span
    class="res_selPanel">{{selectedPanel.name}}</span> type solar panels
    and <span class="sel_Accumulator">{{selectedAccumulator.name}} </span>
    type accumulators you need <span class="amount">{{neededSolarPanels}}</span> solar panels and <span
      class="amount">{{neededAccumulators}}</span> accumulators. <br>
    Results are always rounded up to the next integer.</p>
</div>
