.button-container {
  display: flex;
  flex-direction: column;
  width: 5rem;
}


.descriptionText {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  font-size: 18px;
}

button {
  height: 40px;
  padding-left: 1em;
  padding-right: 1em;
  text-align: center;
  width: fit-content;
  font-size: 18px;
  margin: 5px;
  line-height: 40px;
}

a:visited {
  color: black;
  text-decoration: none;
}

a{
  text-decoration: none;
}
