<h1>Nuclear Calculator</h1>
<div class="descriptionText">
  <span>Calculating your nuclear needs is a bit more difficult than just plugging in the values.</span>
  <span>You need to actually do some math on your own here, but nothing to worry about, as this tool tells you how it works.</span>
</div>

<div class="descriptionText">
  <h2>First Step - Reactor Arrangement</h2>
  <span>Draw a copy of you reactor arrangement. Each reactor gets a value of 1 and empty spaces get a 0.</span>
  <span>The example below uses a 3x3 grid with 8 reactors in total.</span>
  <div class="reactor-diagram descriptionText">
    <span>
    [1][1][1]
    </span>
    <span>
    [1][1][1]
    </span>
    <span>
    [1][0][1]
    </span>
  </div>
  <h2>Second Step - Neighbor bonuses</h2>
  <span>Each reactor gets a production bonus for each reactor that they share a full side with.</span>
  <span>Back to the drawing - For each neighbor that shares a full side with a reactor add 1 to the number</span>
  <div class="descriptionText reactor-diagram">
     <span>
    [1+2][1+3][1+2] -> [3][4][3]
    </span>
    <span>
    [1+3][1+3][1+3] -> [4][4][4]
    </span>
    <span>
    [1+1][0+0][1+1] -> [2][0][2]
    </span>
  </div>
  <h3>Third Step - Add the numbers</h3>
  <span>Now add the numbers you calculated together and enter the number in the input field.</span>
  <input type="number" [defaultValue]="0" [(ngModel)]="singleReactorEquivalent" (input)="calculateValues()">

  <h3>Calculations</h3>
  <span>These calculations are done based on the number that you entered.</span>
  <span *ngIf="!singleReactorEquivalent">If nothing is here, that means that you did not enter a number</span>
  <div *ngIf="singleReactorEquivalent" class="descriptionText">
    <span>Power Output: {{powerOutputInMW}}MW</span>
    <span>Heat Exchangers needed: {{neededHeatExchangers}}</span>
  </div>
</div>
