.banner{
  position: sticky;
  border: 2px solid #131313;
  height: 3em;
}

button{
  appearance: none;
  color: #d1d1d1;
  text-decoration: underline;
  height: 100%;
  background-color: #262626;
  border: none;
  border-left: 1px solid #131313;
  border-right:1px solid #131313;
  padding: 0 1em 0 1em;
  font-size: 16px;

}
